.App {
  text-align: center;
}

body{
  background-color: #222021; 
}


@font-face {
  font-family: 'Redsans-light';
  src: local('LIGHT'), url(./assets/fonts/LIGHT/Redsans-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Redsans-regular';
  src: local('LIGHT'), url(./assets/fonts/REGULAR/Redsans.otf) format('opentype');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ccc {
 float: right
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  min-height: 100vh;
  color: #fff;
  padding-top: 60px;
  position:relative;
}

.img-left {
  margin-right: 5px;
  margin-bottom: 0px;
  float:left; 
 
}

.cashpawa-text {
  font-family: Redsans-regular;
  position: relative;
  top: 8px;
  font-size: 21px;
}

.sub-text {
  font-family: Redsans-regular;
  padding-top: 25px;
  font-size: 26px;
  color: #16B663;
  letter-spacing: 0.2em;
}

.sub-text-2 {
  font-family: Redsans-regular;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.diagram-container {
  padding-top: 15px;
}

#footer {
  position: fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  bottom: 30px;
 
  right: 30px;
}

.text-footer-right {
  float: right;
  font-family: Redsans-regular;
  margin-right: 20px;
  font-size: 12px;
  margin-top: 30px;
  letter-spacing: 0.2em;
}

.text-footer-2 {
  letter-spacing: 0.2em;
}

.ant-btn-primary {
  background-color: #18b67d;
  border: 2px solid #18b67d;
  font-family: Redsans-regular;
  border-radius: 0px 5px 5px 0px !important;
  -webkit-border-radius: 0px 5px 5px 0px !important;
  -moz-border-radius: 0px 5px 5px 0px !important;
  -ms-border-radius: 0px 5px 5px 0px !important;
  -o-border-radius: 0px 5px 5px 0px !important;
}

.ant-btn-primary:hover {
  background-color: #18b67d;
  border: 2px solid #18b67d;
  font-family: Redsans-regular;
  border-radius: 0px 5px 5px 0px !important;
  -webkit-border-radius: 0px 5px 5px 0px !important;
  -moz-border-radius: 0px 5px 5px 0px !important;
  -ms-border-radius: 0px 5px 5px 0px !important;
  -o-border-radius: 0px 5px 5px 0px !important;
}

.input-css {
  font-family: Redsans-regular;
  box-sizing: "border-box";
  border: 2px solid #5A5A5A;
  position: relative;
  bottom: 1.2px;
}

.text-footer-subtext {
  margin-right: 14px;
}

.text-mailing {
  font-family: Redsans-regular;
  font-size: 12px;
  margin-top: 15px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.mailing-container {
  position: fixed; 
  width:100%;
  bottom:35px;
}

.footer-text {
  float: right
}

.loading-container {
  background-color: #222021;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.show-desktop {
  display: block;
}

.display-mobile {
  display: none
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
 .show-desktop {
   display: none;
 }
 .display-mobile {
   display: block;
   padding: 0 20px;
 }
 
 .center {
   text-align: center;
 }
 .sub-text {
  font-family: Redsans-regular;
  font-size: 18px;
  color: #16B663;
  letter-spacing: 0.2em;
  padding-top: 35px;
}

.input-css {
  font-family: Redsans-regular;
  box-sizing: "border-box";
  border: 2px solid #5A5A5A;
  position: relative;
  bottom: 1.2px;
}




@media screen and (min-width: 992px) {
      .large-screen {
        width: 800px;
        height: 80px;
      }
  }
  
  @media screen and (min-width: 1280px) {
      .container {
          width: 1250px;
      }
  }

.sub-text-2 {
  text-align: center;
  font-family: Redsans-regular;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.2em;
  padding-top: 30px;
}

.center-svg {
  text-align: center;
  margin-left: 15px;
}

.padding-mobile-text {
  padding-top: 35px;
}

.house-mobile {
  padding-top: 80px;
}

.mailing-container {
  position: inherit;
  padding-top: 50px;
  padding-bottom: 10px; 
  
}

.text-footer-2 {
  font-family: Redsans-regular;
  font-size: 12px;
  margin-top: 30px;
  letter-spacing: 0.2em;
}

.text-footer-subtext {
  font-family: Redsans-regular;
  font-size: 12px;
  margin-top: 30px;
  letter-spacing: 0.2em;
}

.footer-link {
  padding-top: 15px;
  padding-bottom: 20px;
}
}
